<mat-toolbar color="primary">
  <span>Turnos</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button matTooltip="Filtros" (click)="openFiltersDialog()">
    <mat-icon aria-label="">filter_list</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Registrar un turno" (click)="openAppointmentBottomSheet(newAppointment)">
    <mat-icon aria-label="">add_circle_outline</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Abrir el menu" (click)="appService.toggleSidenav()">
    <mat-icon aria-label="Menu">menu</mat-icon>
  </button>
</mat-toolbar>
<mat-card class="mat-elevation-z0">
  <mat-card-content>
    <mat-form-field>
      <mat-select name="schedule" [(ngModel)]="schedule" placeholder="Agenda" required (selectionChange)="readAppointments()">
        <mat-option [value]="1">Agenda 1</mat-option>
        <mat-option [value]="2">Agenda 2</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="date" (dateChange)="readAppointments()"
        required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Buscar un turno</mat-label>
      <input matInput #searchInput placeholder="Por ejemplo: Juan Perez o 10:45" (keyup)="search($event.target.value)">
      <mat-icon *ngIf="!searchInput.value" matSuffix>search</mat-icon>
      <button type="button" mat-icon-button *ngIf="searchInput.value" aria-label="Limpiar la búsqueda" (click)="searchInput.value=''"
        matTooltip="Limpiar la búsqueda" matSuffix>
        <mat-icon>clear</mat-icon>
      </button>
      <mat-hint *ngIf="!searching && searchInput.value.length < 1">Ingrese al menos 1 caracter</mat-hint>
      <mat-hint *ngIf="searching">Buscando...</mat-hint>
      <mat-hint align="end" *ngIf="appointments">{{appointments.length}} turnos encontrados</mat-hint>
    </mat-form-field>
    <h4 *ngIf="!schedule" style="text-align: center;">Seleccione una agenda para ver sus turnos</h4>
    <h4 *ngIf="!date" style="text-align: center;">Seleccione una fecha para ver sus turnos</h4>
    <h4 *ngIf="schedule && date && !appointments.length && !searching" style="text-align: center;">No hay turnos registrados aún</h4>
    <mat-spinner diameter="50" strokeWidth="5" *ngIf="searching"></mat-spinner>
    <mat-list [attr.dense]="appService.layout === 'handset' ? true : null" *ngIf="!filteredAppointments.length">
      <mat-list-item *ngFor="let appointment of appointments" (click)="openAppointmentBottomSheet(appointment)">
        <mat-icon matListIcon [color]="appointment.confirmed ? 'primary' : 'warn'" [matTooltip]="appointment.confirmed ? 'Confirmado' : 'No confirmado'">event</mat-icon>
        <h3 matLine>Paciente: <span class="mat-body-2">{{appointment.patient.lastname}} {{appointment.patient.name}}</span></h3>
        <p matLine>Hora: <span class="mat-body-2">{{appointment.hour}}</span></p>
        <p matLine>Profesional: <span class="mat-body-2">{{appointment.professional.lastname}}
            {{appointment.professional.name}}</span></p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <mat-list [attr.dense]="appService.layout === 'handset' ? true : null" *ngIf="filteredAppointments.length">
        <mat-list-item *ngFor="let appointment of filteredAppointments" (click)="openAppointmentBottomSheet(appointment)">
          <mat-icon matListIcon [color]="appointment.confirmed ? 'primary' : 'warn'" [matTooltip]="appointment.confirmed ? 'Confirmado' : 'No confirmado'">event</mat-icon>
          <h3 matLine>Paciente: <span class="mat-body-2">{{appointment.patient.lastname}} {{appointment.patient.name}}</span></h3>
          <p matLine>Hora: <span class="mat-body-2">{{appointment.hour}}</span></p>
          <p matLine>Profesional: <span class="mat-body-2">{{appointment.professional.lastname}}
              {{appointment.professional.name}}</span></p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
  </mat-card-content>
</mat-card>