<mat-toolbar color="primary">
  <button mat-icon-button matTooltip="Volver al listado de pacientes" (click)="goToPatients()">
    <mat-icon aria-label="Volver">arrow_back</mat-icon>
  </button>
  <span *ngIf="loading">Cargando la historia clínica...</span>
  <span *ngIf="patient">{{patient.lastname}} {{patient.name}}</span>
  <span *ngIf="patient && patient.oldId">Legajo: {{patient.oldId}}</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button *ngIf="patient" color="warn" matTooltip="Eliminar el paciente" (click)="deletePatient()">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Abrir todas las secciones" (click)="openAll()" *ngIf="patient && !expanded">
    <mat-icon>unfold_more</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Cerrar todas las secciones" (click)="closeAll()" *ngIf="patient && expanded">
    <mat-icon>unfold_less</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Abrir el menu" (click)="appService.toggleSidenav()">
    <mat-icon aria-label="Menu">menu</mat-icon>
  </button>
</mat-toolbar>
<mat-card class="mat-elevation-z0">
  <mat-card-content>
    <mat-spinner diameter="50" strokeWidth="5" *ngIf="loading"></mat-spinner>
    <mat-accordion multi="true" #accordion *ngIf="patient">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Información personal
          </mat-panel-title>
          <mat-panel-description>
            Edad: {{patient.birthday | age}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-patient-personal-information [patient]="patient"></app-patient-personal-information>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Antecedentes
        </mat-expansion-panel-header>
        <app-patient-background [patient]="patient"></app-patient-background>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Signos vitales
        </mat-expansion-panel-header>
        <app-vital-signs-list [patient]="patient"></app-vital-signs-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Visitas
        </mat-expansion-panel-header>
        <app-visit-list [patient]="patient"></app-visit-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Vacunas
        </mat-expansion-panel-header>
        This the expansion 3 content
      </mat-expansion-panel>

    </mat-accordion>
  </mat-card-content>
</mat-card>