<form #bottomSheetForm="ngForm" (ngSubmit)="onSubmit(bottomSheetForm)">
  <mat-card class="mat-elevation-z0">
    <mat-card-subtitle>{{data.title}}</mat-card-subtitle>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" #lastname name="lastname" [(ngModel)]="data.patient.lastname" maxlength="256"
          placeholder="Apellido/s" required>
        <mat-hint align="end">Caracteres utilizados: {{lastname.value.length}} de 256</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" #name name="name" [(ngModel)]="data.patient.name" maxlength="256" placeholder="Nombre/s"
          required>
        <mat-hint align="end">Caracteres utilizados: {{name.value.length}} de 256</mat-hint>
      </mat-form-field>
      <mat-checkbox #newborn name="newborn" [(ngModel)]="data.patient.newborn">Recién nacido</mat-checkbox>
      <mat-form-field *ngIf="!data.patient.newborn">
        <mat-select #documentType name="documentType" [(ngModel)]="data.patient.documentType" placeholder="Tipo de documento"
          required>
          <mat-option [value]="1">D.N.I.</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="!data.patient.newborn">
        <input matInput type="number" #documentNumber name="documentNumber" [(ngModel)]="data.patient.documentNumber"
          placeholder="Número de documento" maxlength="8" required>
        <mat-hint align="start">Ingrese sólo números, sin puntos ni espacios</mat-hint>
        <mat-hint align="end">Números utilizados: {{documentNumber.value.length}} de 8</mat-hint>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary" [disabled]="!bottomSheetForm.form.valid">Guardar</button>
      <button type="button" mat-raised-button color="warn" (click)="dismissBottomSheet(bottomSheetForm)">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>