<form #bottomSheetForm="ngForm" (ngSubmit)="onSubmit(bottomSheetForm)">
  <mat-card class="mat-elevation-z0">
    <mat-card-subtitle>{{data.title}}</mat-card-subtitle>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" #name name="name" [(ngModel)]="data.schedule.name" maxlength="256" placeholder="Nombre"
          required>
        <mat-hint align="end">Caracteres utilizados: {{name.value.length}} de 256</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-select #periodic name="periodic" [(ngModel)]="data.schedule.periodic" placeholder="Periodicidad" required>
          <mat-option [value]="true">Semanal</mat-option>
          <mat-option [value]="false">Días específicos</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox #active name="active" [(ngModel)]="data.schedule.active">Activa</mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary" [disabled]="bottomSheetForm.form.invalid">Guardar</button>
      <button type="button" mat-raised-button color="warn" *ngIf="data.schedule.id" (click)="deleteSchedule()">Eliminar</button>
      <button type="button" mat-icon-button class="close-button" matTooltip="Cerrar" (click)="dismissBottomSheet()">
        <mat-icon aria-label="Cerrar el formulario">close</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>