<form #personalInformationForm="ngForm">
  <mat-card class="mat-elevation-z0">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Persona">
        <mat-form-field>
          <input matInput type="text" #lastname name="lastname" [(ngModel)]="patient.lastname" maxlength="256"
            placeholder="Apellido/s" required (blur)="update(personalInformationForm)">
          <mat-hint align="end">Caracteres utilizados: {{lastname.value.length}} de 256</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" #name name="name" [(ngModel)]="patient.name" maxlength="256" placeholder="Nombre/s"
            required (blur)="update(personalInformationForm)">
          <mat-hint align="end">Caracteres utilizados: {{name.value.length}} de 256</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" #birthdate name="birthdate" placeholder="Fecha de nacimiento"
            [(ngModel)]="patient.birthdate" (dateInput)="update(personalInformationForm)" [max]="today">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-select #sex name="sex" [(ngModel)]="patient.sex" placeholder="Sexo otorgado al nacer"
            (selectionChange)="update(personalInformationForm)">
            <mat-option [value]="1">Masculino</mat-option>
            <mat-option [value]="2">Femenino</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select #documentType name="documentType" [(ngModel)]="patient.documentType" placeholder="Tipo de documento"
            (selectionChange)="update(personalInformationForm)">
            <mat-option [value]="1">D.N.I.</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" #documentNumber name="documentNumber" [(ngModel)]="patient.documentNumber"
            placeholder="Número de documento" maxlength="8" pattern="\d{7,8}" (blur)="update(personalInformationForm)">
          <mat-hint align="start">Ingrese sólo números, sin puntos ni espacios</mat-hint>
          <mat-hint align="end">Números utilizados: {{documentNumber.value.length}} de 8</mat-hint>
        </mat-form-field>
      </mat-tab>
      <mat-tab label="Clínica">
        <mat-form-field>
          <mat-select #birthType name="birthType" [(ngModel)]="patient.birthType" placeholder="Tipo de nacimiento"
            (selectionChange)="update(personalInformationForm)">
            <mat-option [value]="1">Parto</mat-option>
            <mat-option [value]="2">Cesárea</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" min="0" max="100000" step="10" #birthWeight name="birthWeight" [(ngModel)]="patient.birthWeight"
            placeholder="Peso recién nacido" (blur)="update(personalInformationForm)">
          <span matSuffix>g</span>
          <mat-hint align="start">Ingrese sólo números, sin puntos ni espacios</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-select #bloodType name="bloodType" [(ngModel)]="patient.bloodType" placeholder="Grupo sanguíneo"
            (selectionChange)="update(personalInformationForm)">
            <mat-option [value]="1">0</mat-option>
            <mat-option [value]="2">A</mat-option>
            <mat-option [value]="3">B</mat-option>
            <mat-option [value]="4">AB</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select #rhFactor name="rhFactor" [(ngModel)]="patient.rhFactor" placeholder="Factor RH"
            (selectionChange)="update(personalInformationForm)">
            <mat-option [value]="1">+ (Positivo)</mat-option>
            <mat-option [value]="2">- (Negativo)</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-tab>
      <mat-tab label="Obra social">
        <mat-list [attr.dense]="appService.layout === 'handset' ? true : null">
          <mat-list-item *ngFor="let patientSocialSecurity of patientSocialSecurities" (click)="openPatientSocialSecurityBottomSheet(patientSocialSecurity)">
            <h3 matLine>{{patientSocialSecurity.name}}</h3>
            <p matLine>Plan: <span class="mat-body-2">{{patientSocialSecurity.plan}}</span></p>
            <p matLine>Identificación de afiliado: <span class="mat-body-2">{{patientSocialSecurity.id}}</span></p>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
        <button mat-raised-button color="primary" (click)="openPatientSocialSecurityBottomSheet(newPatientSocialSecurity)">Registrar una obra social</button>
      </mat-tab>
      <mat-tab label="Contacto">
        <mat-form-field>
          <input matInput type="text" #phone1 name="phone1" [(ngModel)]="patient.phone1" placeholder="Teléfono"
            maxlength="11" pattern="([1-9]{2,4} \d{6,8})" (blur)="update(personalInformationForm)">
          <mat-hint align="start">Ej: 342 4488996. Sin 0 y sin 15</mat-hint>
          <mat-hint align="end">Caracteres utilizados: {{phone1.value.length}} de 11</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" #phone2 name="phone2" [(ngModel)]="patient.phone2" placeholder="Teléfono alternativo"
            maxlength="11" pattern="([1-9]{2,4} \d{6,8})" (blur)="update(personalInformationForm)">
          <mat-hint align="start">Ej: 342 4488996. Sin 0 y sin 15</mat-hint>
          <mat-hint align="end">Caracteres utilizados: {{phone2.value.length}} de 11</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" #email name="email" [(ngModel)]="patient.email" maxlength="256" email placeholder="Email"
            (blur)="update(personalInformationForm)">
          <mat-hint align="end">Caracteres utilizados: {{lastname.value.length}} de 256</mat-hint>
        </mat-form-field>
        <div>
          <mat-form-field>
            <input matInput type="text" #street name="street" [(ngModel)]="patient.street" placeholder="Calle"
              maxlength="256" (blur)="update(personalInformationForm)">
            <mat-hint align="end">Caracteres utilizados: {{street.value.length}} de 256</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" #number name="number" [(ngModel)]="patient.streetNumber" placeholder="Número"
              maxlength="256" [disabled]="!patient.street" (blur)="update(personalInformationForm)">
            <mat-hint align="start" *ngIf="!patient.street">Primero ingrese la calle</mat-hint>
            <mat-hint align="end">Caracteres utilizados: {{number.value.length}} de 256</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" #floor name="floor" [(ngModel)]="patient.floor" placeholder="Piso" maxlength="256"
              [disabled]="!patient.number" (blur)="update(personalInformationForm)">
            <mat-hint align="start" *ngIf="!patient.number">Primero ingrese el número</mat-hint>
            <mat-hint align="end">Caracteres utilizados: {{floor.value.length}} de 256</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" #flat name="flat" [(ngModel)]="patient.flat" placeholder="Departamento"
              maxlength="256" [disabled]="!patient.number" (blur)="update(personalInformationForm)">
            <mat-hint align="start" *ngIf="!patient.number">Primero ingrese el número</mat-hint>
            <mat-hint align="end">Caracteres utilizados: {{flat.value.length}} de 256</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-select #country name="country" [(ngModel)]="patient.country" placeholder="País" (selectionChange)="update(personalInformationForm)">
              <mat-option *ngFor="let country of countries" [value]="country">{{country.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select #state name="state" [(ngModel)]="patient.state" placeholder="Provincia" [disabled]="!patient.country"
              (selectionChange)="update(personalInformationForm)">
              <mat-option *ngFor="let state of states" [value]="state">{{state.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select #city name="city" [(ngModel)]="patient.city" placeholder="Ciudad" [disabled]="!patient.state"
              (selectionChange)="update(personalInformationForm)">
              <mat-option *ngFor="let city of cities" [value]="city">{{city.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="patient.city">
            <input matInput type="text" #zipcode name="zipcode" [(ngModel)]="patient.city.zipCode" placeholder="Código postal"
              readonly>
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</form>