<mat-card class="mat-elevation-z0">
  <mat-card-content>
    <mat-form-field class="full-width">
      <mat-label>Buscar una visita</mat-label>
      <input matInput #searchInput placeholder="Por ejemplo: Diabetes" (keyup)="search($event.target.value)">
      <mat-icon *ngIf="!searchInput.value" matSuffix>search</mat-icon>
      <button type="button" mat-icon-button *ngIf="searchInput.value" aria-label="Limpiar la búsqueda" (click)="searchInput.value=''"
        matTooltip="Limpiar la búsqueda" matSuffix>
        <mat-icon>clear</mat-icon>
      </button>
      <mat-hint *ngIf="searchInput.value.length < 1">Ingrese al menos 1 caracter</mat-hint>
      <mat-hint *ngIf="searching">Buscando...</mat-hint>
      <mat-hint align="end" *ngIf="visits">{{visits.length}} visitas encontradas</mat-hint>
    </mat-form-field>
    <h4 *ngIf="!visits.length" style="text-align: center;">No hay visitas registradas aún</h4>
    <mat-list [attr.dense]="appService.layout === 'handset' ? true : null" *ngIf="!filteredVisits.length">
      <mat-list-item *ngFor="let visit of visits" (click)="openVisitBottomSheet(visit)">
        <mat-icon matListIcon *ngIf="appService.layout !== 'handset'">event_available</mat-icon>
        <h3 matLine>{{visit.date | date : shortDate}}</h3>
        <p matLine>Diagnóstico: <span class="mat-caption">{{visit.diagnostic}}</span></p>
        <p matLine>Tratamiento: <span class="mat-caption">{{visit.treatment}}</span></p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <mat-list [attr.dense]="appService.layout === 'handset' ? true : null" *ngIf="filteredVisits.length">
        <mat-list-item *ngFor="let visit of filteredVisits" (click)="openVisitBottomSheet(visit)">
          <mat-icon matListIcon *ngIf="appService.layout !== 'handset'">event_available</mat-icon>
          <h3 matLine>{{visit.date | date : shortDate}}</h3>
          <p matLine>Diagnóstico: <span class="mat-caption">{{visit.diagnostic}}</span></p>
          <p matLine>Tratamiento: <span class="mat-caption">{{visit.treatment}}</span></p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
  </mat-card-content>
  <mat-card-actions style="text-align: right;">
    <button mat-raised-button color="primary" (click)="openVisitBottomSheet(newVisit)">Registrar una visita</button>
  </mat-card-actions>
</mat-card>